@media screen and (max-width: 1200px)
{
   #profile
   {
    height: 83vh;
    margin-bottom: 6rem;
   }

   .about-containers
   {
    flex-wrap: wrap;
    flex-direction: column;
   }
}

@media screen and (max-width: 1000px)
{
    #desktop-nav
    {
        display: none;
    }
    #hamburger-nav
    {
        display: flex;
    }

    #experience
    {
        margin-top: 4rem;

    }
    #profile, .section-container
    {
        display: block;
    }

    .arrow, .arrow1, .arrow2, .arrow3
    {
        display: none;
    }

    section, .section-container
    {
        height:fit-content;
    }
    section 
    {
        margin: 0 5%;
    }

    .section-pic__container, .ppic, .about-pic
    {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers
    {
        margin-top: 0;
    }

    .section-text 
    {
        margin-top: 7rem;

    }

    .about-pic
    {
        width: 300px;
        height: 200px;
        margin: 0 auto 2rem;
        justify-content: center;
    }
}

@media screen and (max-width: 600px)
{
    #contact, footer
    {
        height: 40vh;
        width: fit-content;
        justify-content: center;
    }

    #projects
    {
        margin-bottom: -rem;
    }

    #profile
    {
        height: 83vh;
        margin-bottom: 0;
    }
    article
    {
        font-size: 1rem;
    }
    footer nav
    {
        height: fit-content;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .about-containers, .contact-info-upper-container, .btn-container
    {
        flex-wrap: wrap;
    }

    .contact-info-upper-container
    {
        margin-top: 5.5rem;
    }

    .contact-info-container
    {
        margin: 0;
    }
  
    .contact-info-container p, .nav-links li a 
    {
        font-size: 1rem;
    }

    .experience-sub-title
    {
        font-size: 1rem;

    }
    
    .logo
    {
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section-pic__container
    {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section-text__p2
    {
        font-size: 1.25rem;
    }

    .title 
    {
        font-size: 2rem;
    }

    .text-container
    {
        text-align: justify;
        margin-bottom: 1rem;
    }

    .section-text p
    {
        font-size: 1rem;
    }

    .section-text h1
    {
        font-size: 2rem;
    }
}
